#categories{
    line-height: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.categorie{
    font-size: 16px;
    color: #C4C4C4;
    margin-right: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
